<html>
    <meta name='viewport' 
     content='width=device-width, initial-scale=1.0, maximum-scale=1.0, 
     user-scalable=0' >
    <title>Counter</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://github.hubspot.com/odometer/odometer.js"></script>
    <link rel="stylesheet" href="https://github.hubspot.com/odometer/themes/odometer-theme-default.css"/>
    <body ng-app="counterApp" ng-controller="counterController" style="background-image: url({{imgURL}});">
        <div class="lolwa">
            <div class="container text-center">
                <b class="odometer" style="font-size: 3cm; color: coral; padding: 16px;"></b>
                <br>
                <br>
                <button class="btn btn-outline-success btn-lg" style='font-size: 80px; border-radius: 25px;' ng-click="increamentCount()">Count</button>
            </div>
        </div>
        <button class="btn btn-outline-secondary btn-lg" style='margin-bottom:16px; margin-right: 16px; position: absolute; bottom: 0;right:0;' ng-click="reset()">Reset</button>
    </body>
 <style>
 .lolwa {

    position: absolute;
    left: 50%;
    top: 50%; 
    margin-left: -150px;
    margin-top: -150px;
 }
 .btn { 
            box-shadow: 7px 6px 28px 1px rgba(0, 0, 0, 0.24); 
            cursor: pointer; 
            outline: none; 
            transition: 0.2s all; 
        }           
        .btn:active { 
            transform: scale(0.98); 
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24); 
        } 
 </style>
    <script>
        var app = angular.module('counterApp',[]);
        app.controller('counterController',function($scope){
            $scope.count = 0;
            $scope.imgURL = "https://picsum.photos/seed/"+ Math.round(Math.random()*100)+"/"+window.innerWidth+"/"+window.innerHeight+"/?blur=2";
            $scope.increamentCount = function() {
                $scope.count = $scope.count + 1;
                $('.odometer').html($scope.count)
                window.navigator.vibrate(200);
            }
            $scope.reset = function() {
            $scope.count = 0;
            $('.odometer').html($scope.count)
        }
        });
    </script>

</html>